.boxed {
    border: 1px solid black;
}

.errormessage {
    color: #ff0000;
}

td[class="comment"] {
	font: 16px Verdana;
}

* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

input {
    border: 1px solid grey;
    background-color: #f1f1f1;
    padding: 5px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 300px;
    margin-top: 15px;
}

input[type=button] {
    background-color: #f1f1f1;
    margin-top: 10px;
}

#divback {
	padding-left: 100px;
}

#divnext {
	padding-left: 1500px;
}

#tableBackHome {	
	padding-left: 850px;
}

.imageDetails {
	width: 400px;
	height: 400px;
}

.imageThumb {
	width: 40px;
	height: 40px;
}