


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Account</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>

	<h1>Gallery Album Page</h1>

	<h3>Photo</h3>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Image</th>
				<th>Date</th>
				<th>Directory</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="t : ${images}">
				<td th:text="${t.title}"></td>
				<td th:text="${t.image}"></td>
				<td th:text="${t.date}"></td>
				<td th:text="${t.directory}"></td>
			</tr>
		</tbody>
	</table>



	<div>
		<form th:action="@{/CreateComment(accountid=${accountid})}"
			method="POST">
			<fieldset>
				<label> Insert Comment <input type="text"
					name="comment-text" required /><br>
				</label> <input type="submit" name="create-comment">
			</fieldset>
		</form>
	</div>
</body>
</html>